
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.body{
  font-family: "Helvetica";
  color: #E5F4D3;
}


.btn{
  font-size: 20px;
  height: 200px;
  width: 100%;
}
